.banner-content {
    text-align: left;
    

}

.header-banner {
    background-image: url('../../../assets/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 150px;
    background-position: bottom right, left top;
   
}

/* adjust padding and background position for screens narrower than 768px */
@media only screen and (max-width: 767px) {
    .header-banner {
        padding: 100px 20px;
       
        background-position: bottom right, left top;
    }
    
}

/* adjust padding and background position for screens narrower than 480px */
@media only screen and (max-width: 479px) {
    .header-banner {
        padding: 50px 10px;
        /* background-position: bottom center, center center; */
         background-position: bottom right, right top;
    }
    .banner-content {
        align-items: flex-start;
    }
}

